<div class="history-page">
  <div class="repo-details">
    <div class="repo-details__logo-container">
      <img src="https://via.placeholder.com/150"/>
    </div>
    <div class="repo-details__main">
      <div class="repo-details__main__name repo-item">{{ 'u.user/test-challenge' }}</div>
      <div class="repo-item">Owner: <b>{{ 'u.user' }}</b></div>
      <div class="repo-item">Created: <b>{{ 1577173956748 | date }}</b></div>
      <div class="repo-item">Language: <b>{{ 'TypeScript' }}</b></div>
    </div>
  </div>
  <div class="repo-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis consequuntur dolores esse expedita libero, non quam repellendus. Aliquid debitis delectus eligendi eos in nam natus nesciunt omnis repellendus repudiandae.
  </div>
</div>
