<div class="history-page">
  <div class="repo-details">
    <div class="repo-details__logo-container"
         *ngIf="(project$ | async)?.owner?.avatar_url"
    >
      <img
        src="{{(project$ | async)?.owner?.avatar_url}}"
        alt="user image"
        draggable="false"
      />
    </div>
    <div class="repo-details__main">
      <a [href]="(project$ | async)?.html_url" target="_blank"
         title="Click to visit on GitHub"
      >
        <div class="repo-details__main__name repo-item"
             [innerText]="(project$ | async)?.full_name"
        ></div>
      </a>
      <div class="repo-item">Owner:
        <a [href]="(project$ | async)?.owner.html_url" target="_blank"
           title="Click to visit on GitHub"
        >
          <b [innerText]="(project$ | async)?.owner?.login"></b>
        </a>
      </div>
      <div class="repo-item">Created: <b [innerText]="(project$ | async)?.created_at | date"></b></div>
      <div class="repo-item">Language: <b [innerText]="(project$ | async)?.language"></b></div>
    </div>
  </div>
  <div class="repo-description" [innerText]="(project$ | async)?.description"></div>
  <div class="commit-list">
    <app-commit-item
      *ngFor="let commit of commits"
      [message]="commit.commit.message"
      [userName]="commit.committer.login"
      [avatarURL]="commit.committer.avatar_url"
      [date]="commit.commit.author.date | stringToDate"
      [commitURL]="commit.html_url"
      [userURL]="commit.committer.html_url"
    ></app-commit-item>
  </div>
  <button (click)="fetchNextPage()"
          *ngIf="!isPageLast"
  >Fetch More!</button>
</div>
